
  *{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
  }
  a{
    color: #000;
  }
  html,body{
    width: 100%;
    height: 100%;
    font-size: calc(100/750*100vw)
  }
  #root,.App{
    width: 100%;
    height: 100%;
    font-size: 12px;
  }
  .wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
  }
  .header{
    height: calc(.4rem*2);
    background: #FF852A;
    color: #fff;
    display: flex;
   a{
     flex: 1;
     text-align: center;
     line-height: calc(.4rem*2);
     color: #000;
     font-size: 14px;
   }
   .active{
     color: red;
     border-bottom: 2px red solid;
   }
    span{
      font-size: 16px;
      font-weight: bold;
      flex: 1.5;
      text-align: center;
      line-height: calc(.4rem*2);
    }
    input{
      border: 0;
      background: #FF4E22;
      flex: 8.5;
      height: 70%;
      margin: auto;
      border-radius: 10px;
      text-align: center;
    }
  }
  .main{
    background: #e5e5e5;
    flex: 1;
    overflow: auto;
    position: relative;
    .swiper-container{
      height: calc(1.5rem*2);
      width: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .box{
    width: 90%;
    height: auto;
    position: absolute;
    top: 10%;
    left:5%;
 
  }
  .dev{
    height: calc(2rem*2);
    width: 100%;
    margin: 10px auto;
    background: #ffff;
    border-radius: 10px;
    
    h3{
      height: calc(.3rem*2);
      border-bottom: 1px #ccc solid;
    }
    .bottom{
      width: 100%;
      display: flex;
      li{
        &:nth-child(1){
          flex: 1;
        }
        &:nth-child(2){
          flex: 3;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        &:nth-child(3){
          flex: 6;
          margin-left: 10px;
        }
      }
    }
  
  }
  .btn{
    position: absolute;
    right: 20px;
    button{
      width: 30px;
      height: 20px;
    }
  }
  .price{
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  .footer{
    display: flex;
    height:calc(.5rem*2);
    border-top: 1px #ccc solid;
    a{
      color: #000;
      flex: 1;
      text-align: center;
      line-height: calc(.5rem*2)
    }
    .active{
      color: red
    }
  }
 .head{
   height: calc(1.2rem*2);
   background: #FF852A;
   
   h2{
     span{
      position: absolute;
      top: 2%;
      color: #fff;
       &:nth-child(1){
         left: 10%;
       }
       &:nth-child(2){
        right: 10%;
      }
     }
   }
 }
 .cum{
   height: calc(.5rem*2);
   width: 100%;
   span{
    margin-top: 3%;
     &:nth-child(1){
       float: left;
      
     }
     &:nth-child(2){
      float: right;
      b{
        color: red;
        margin: 10px;
      }
    }
   }
   
 }
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }